/* common css starts here */
body {
    margin: 0;
}
ul,ol {
    padding: 0px;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn-primary {
	padding: 12px 36px;
	font-size: 16px;
	font-weight: 700;
	background: #4E47FF;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	text-transform: capitalize;
}
/* common css ends here */

/* header starts here */
#header {
    background: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 51.5px 0px 152px 0px;
}
.header-top {
    display: flex;
    justify-content:space-between;
}
.logo h2 {
	font-size: 34px;
	color: #4E47FF;
	line-height: 150%;
}
.header-top button {
    width: 132px;
	height: 48px;
}
.header-top button:hover {
    background: #FFFFFF;
    border: 1px solid #4E47FF;
    color: #4E47FF;
    border-radius: 3px;
    transition: 0.1s linear all;
    width: 135px;
}

.header-bottom h1 {
	width: 905px;
	font-weight: 700;
	font-size: 65px;
	color: #252432;
	padding-bottom: 37px;
	margin: 0 auto;
}
.header-bottom button {
	width: 174px;
	height: 48px;
	padding: 12px 34px;
	text-transform: capitalize;
	margin: 0 auto;
	display: block;
}
.header-bottom button:hover {
    background: #FFFFFF;
    border: 1px solid #4E47FF;
    color: #4E47FF;
    border-radius: 3px;
    transition: 0.1s linear all;
}
/* header ends here */