/* common css starts here */
body {
    margin: 0;
}
ul,ol {
    padding: 0px;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn-primary {
	padding: 12px 36px;
	font-size: 16px;
	font-weight: 700;
	background: #4E47FF;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	text-transform: capitalize;
}
.head-2 {
    width: 517px;
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    
}
/* common css ends here */

/* header starts here */
#header {
    background: url("../images/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 51.5px 0px 152px 0px;
}
.header-top {
    display: flex;
    justify-content:space-between;
}
.logo h2 {
	font-size: 34px;
	color: #4E47FF;
	line-height: 150%;
}
.header-top button {
    width: 132px;
	height: 48px;
}
.header-top button:hover {
    background: #FFFFFF;
    border: 1px solid #4E47FF;
    color: #4E47FF;
    border-radius: 3px;
    transition: 0.1s linear all;
    width: 135px;
}

.header-bottom h1 {
	width: 905px;
	font-weight: 700;
	font-size: 65px;
	color: #252432;
	padding-bottom: 37px;
	margin: 0 auto;
}
.header-bottom button {
	width: 174px;
	height: 48px;
	padding: 12px 34px;
	text-transform: capitalize;
	margin: 0 auto;
	display: block;
}
.header-bottom button:hover {
    background: #FFFFFF;
    border: 1px solid #4E47FF;
    color: #4E47FF;
    border-radius: 3px;
    transition: 0.1s linear all;
}
/* header ends here */

/* action starts here */
#action {
    padding: 62.5px 0px;
    background-color: #F5F8FF;
}
.action-content h2 {
    margin-bottom: 23px;
}
.action-content p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #252432;
    width: 517px;
}
.action-container {
    display: flex;
    justify-content: space-between;
}
.action-container img {
    width: 403px;
    border-radius: 48px;
}
/* action ends here */

/* user area starts here */
#user {
	background: #F5F8FF;
	padding: 65px 0px 137px 0px;
}
.user-container {
	background: #D9DEEB;
	padding: 50px 142px;
	margin: 0 auto;
	border-radius: 24px;
}
.user-head h2 {
	padding: 50px 0px;
	width: 856px;
	margin: 0 auto;
    font-size: 38px;
}
.user-content {
	width: 856px;
	display: flex;
	justify-content: space-around;
	border-radius: 24px;
	background-color: ;
	color: #4E47FF;
  

}
.stats-item h3 {
    font-size: 80px;
    font-weight: 700;
    margin: 0px;
}
.stats-item p {
	margin: 0px;
	width: 162px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #8987A1;
	text-transform: capitalize;
}
/* user area ends here */

/* design area starts here */
#design {
    background-color: #F5F8FF;
    padding-bottom: 137px;
}
.design-head h2 {
	width: 1140px;
	text-align: center;
	margin: 0px;
	padding-bottom: 50px;
}
.design-content h5 {
	width: 224px;
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	font-weight: 600;
	padding: 24px 0px 8px 0px;
    margin: 0px;
}
.design-content .design-p p {
	margin: 0px;
	width: 320px;
	color: #1E1E1E;
	font-weight: 400;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	padding-bottom: 20px;
}
.design-bottom {
    display: flex;
}
.design-bottom img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.design-bottom-text h6 {
    font-family: "Raleway", sans-serif; 
    font-weight: 600px;
    font-size: 16px;
    margin: 0px;
    width: 267px;
    color: #1E1E1E;
    
}
.design-bottom-text {
    padding-left: 12px;
}
.design-bottom-text .date {
    font-family: "Raleway", sans-serif; 
    font-weight: 600px;
    font-size: 16px;
    color: #B3B3B3;
}
.design-items {
    display: flex;
}
.design-item {
	border: 1px solid #f6f1f1;
	width: 32%;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 24px;
}
.middle-item {
    margin: 0px 2%;

}
/* design area ends here */

/* focus area starts here */
#focus {
    background: #F5F8FF;
    padding: 70px 0px 163px 0px;
}
.focus-content h2 {
	width: 465px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 71px;
}
.focus-content p {
	width: 436px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.focus-content button {
	margin: 0 auto;
	display: block;
	width: 225px;
	border-radius: 5px;
    margin-bottom: 20px;
}
.focus-content img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: block;
    margin: 0 auto;
}
.focus-text {
	background: #FFFFFF;
	padding-bottom: 71px;
}
/* focus area ends here */